## Welcome to your notebook.

#### Run this cell to connect to your GIS and get started:

In [1]:
from arcgis.gis import GIS
gis = GIS("home")
import requests
from arcgis.features.analysis import *
from arcgis.features import FeatureLayer

#### Now you are ready to start!

In [2]:
#Create a Python notebook that creates three maps:
#Military size by total personal
#Military size by Active Duty personal
#Military size as a percentage of total population.
#(Worth 50 points) Create an ArcGIS Javascript API app or Leaflet app that displays one of the maps that you created above. I want the app to include popups and a legend.

# Map 1

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/bbarth3/GIS-5091-Final-Project/main/MilitaryCsvData.csv")
df

           country  activeDuty  paramilitary  reserves    total      pop2022
0            China     2185000        660000   1170000  4015000  1448471.400
1            India     1455550       2526950   1155000  5137500  1406631.776
2    United States     1388100             0    844950  2233050   334805.269
3      North Korea     1280000       5889000    600000  7769000    25990.679
4           Russia     1014000        554000   2000000  3568000   145805.947
..             ...         ...           ...       ...      ...          ...
163          Haiti         150            50         0      200    11680.283
164        Iceland           0           250         0      250      345.393
165      Mauritius           0          2550         0     2550     1274.727
166     Costa Rica           0          9800         0     9800     5182.354
167         Panama           0         26000         0    26000     4446.964

[168 rows x 6 columns]

In [4]:
total_stats = gis.content.import_data(df, {"CountryCode": "country"})
total_stats

In [5]:
total_personal_map = gis.map("USA", zoomlevel=2)
total_personal_map

MapView(layout=Layout(height='400px', width='100%'))

In [6]:
total_personal_map.add_layer(total_stats, {"renderer":"ClassedSizeRenderer",  "field_name": "total"})

In [7]:
total_personal_map.legend=True

# Map 2

In [8]:
active_stats = gis.content.import_data(df, {"CountryCode": "country"})
active_stats

In [9]:
active_map = gis.map("USA", zoomlevel=2)
active_map

MapView(layout=Layout(height='400px', width='100%'))

In [10]:
active_map.add_layer(active_stats, {"renderer":"ClassedSizeRenderer",  "field_name": "activeDuty"})
active_map.legend=True

# Map 3

In [11]:
df['percent'] = (df['total'] / df['pop2022'].sum()) * 100
df

,country,activeDuty,paramilitary,reserves,total,pop2022,percent
0,China,2185000,660000,1170000,4015000,1448471.400,50.706675
1,India,1455550,2526950,1155000,5137500,1406631.776,64.883074
2,United States,1388100,0,844950,2233050,334805.269,28.201878
3,North Korea,1280000,5889000,600000,7769000,25990.679,98.117100
4,Russia,1014000,554000,2000000,3568000,145805.947,45.061374
...,...,...,...,...,...,...,...
163,Haiti,150,50,0,200,11680.283,0.002526
164,Iceland,0,250,0,250,345.393,0.003157
165,Mauritius,0,2550,0,2550,1274.727,0.032205
166,Costa Rica,0,9800,0,9800,5182.354,0.123767
167,Panama,0,26000,0,26000,4446.964,0.328362

In [12]:
pop_stats = gis.content.import_data(df, {"CountryCode": "country"})
pop_stats

In [13]:
pop_map = gis.map("USA", zoomlevel=2)
pop_map

MapView(layout=Layout(height='400px', width='100%'))

In [15]:
pop_map.add_layer(pop_stats, {"renderer":"ClassedSizeRenderer",  "field_name": "percent"})
pop_map.legend=True